*{
	margin: 0px;
	padding: 0px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	line-height: 150%;
	color: #777777;
}
header{
	background-color: #ffffff;
	margin: 0px;
	border-bottom: 2px solid #cccccc;
	width: 960px;
}
.about,
.line,
.contact,
.portfolio{
	float: right;
	padding: 20px;
}

h1{
color:#ffffff;
background-color: #4aaaa5;
font-size: 36px;
width: 290px;
height: 100px;
margin-left: 80px;
box-sizing: border-box;
padding: 20px;
float: left;
}
.clearfix:after {
	Content: "header";
	Display:block;
	Clear: both;
	overflow: auto;
}

body{
	clear: both;
	overflow: auto;
	display: flex;
	flex-direction: column;
	background-image: url(basic-portfolio/vertical-waves.png);
	margin: 0;
	padding: 0px;
	width: 960px;
}
.main,
.contactform,
.games {
	box-sizing: border-box;
	float: left;
	width:100%;
	margin: 0 auto;
	padding: 100px;
	border-top: 2px solid #cccccc;
}
h2{
	color:#4aaaa5;
	font-size: 36px;
}
h3{
	color:#4aaaa5;
	font-size: 24px;
}
h4{
	color:#777777;
	font-size: 24px;
}
h5{
	color: #cccccc;
	font-size: 24px;
}
#bio,
#gamebox,
#boxform{
	box-sizing: border-box;
	margin: 0px;
	padding: 20px;
	background-color: #ffffff;
	border: 2px solid #dddddd;
	float: left;
	width: 60%;
	top: 30px;
	left: 80px;
}
	#bio-img {
		height: 200px;
		Width: 200px;
		box-sizing: border-box;
		margin-right: 20px;
		float: left;
	}
p{
	font-family: Arial, Helvetica, sans-serif;
}
#connect{
	box-sizing:border-box;
	float: right;
	width: 34%;
	margin: 0px; 
	padding: 20px;
	border: 2px solid #dddddd;
	background-color: #ffffff;

}
.copy{
	clear: both;
	overflow: auto;
	flex: 1 0 auto;
}
footer{
	height: 50px;
	padding-top: 15px;
	text-align: center;
	background-color: #666666;
	border-top: 3px;
	border-top-color: #4aaaa5;
	color: #ffffff;
	font-size: 8px;
}